@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

/* Theme */
:root {
  --primary-color: #710193;
  --link-color: #B65FCF;

  --theme-bg: url('../img/gradient_bg.png');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.title {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: right;
    padding-bottom: 40px;
    color: var(--primary-color)
}
a {
    color: var(--primary-color);
    font-weight: 600;
}
a:hover {
    color: var(--link-color);
    transition: 0.3s ease;
}

/* Navigation Bar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 210px 0;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
    height: 100%;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    overflow-y: hidden;
}
.navbar li a {
    display: block;
    color: white;
    padding: 30px 20px;
}
.navbar li a:hover {
    background-color: var(--link-color);
    color: white;
    transition: all 0.4s ease;
}
/* .navbar .active-section {
    background-color: var(--link-color);
    color: white;
} */
.navbar .logo {
    display: none;
}

/* Home (Landing Area) */
.home {
    margin-left: 20%;
    background: var(--theme-bg);
    background-size: cover;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
.home .home-content {
    text-align: center;
    padding: 350px 0;
    color: var(--primary-color);
    animation: 3s appear ease-out;
}
.home .home-content .text-1 {
    font-size: 40px;
}
.home .home-content .text-2 {
    font-size: 110px;
    font-weight: 600;
}
.home .home-content .text-3 {
    font-size: 60px;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* About Me */
.about, .qualifications, .portfolio, .services {
    margin-left: 20%;
    padding: 30px 60px;
}
.about .about-content, .qualifications .qualifications-content,
  .portfolio .portfolio-content, .services .services-content {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.about .about-content {
    padding: 80px 0;
}
.about .about-content .left {
    width: 40%;
    order: 2;
}
.about .about-content .left img {
    width: 650px;
    padding-right: 90px;
}
.about .about-content .right {
    width: 60%;
    padding-right: 60px;
    order: 1;
}
.icons {
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-left: 0;
    align-items: center;
}
.icons li {
    list-style: none;
    padding-right: 22px;
}
.icons li a {
    position: relative;
    display: inline-block;
}
.fa {
    color: var(--primary-color);
}
.fa:hover {
    color: var(--link-color);
    transition: 0.3s ease;
}

/* Qualifications */
.qualifications .qualifications-content {
    padding: 7px 0;
}
.resume {
    width: 40%;
    order: 2;
}
.resume img {
    width: 550px;
    box-shadow: 4px 4px 4px #545454;
}
.technical-summary {
    width: 60%;
    order: 1;
    padding-right: 50px;
    padding-top: 180px;
}
.technical-summary p {
    padding-top: 10px;
}
.technical-summary .btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.technical-summary .btn:hover {
    background-color: var(--link-color);
}

/* Portfolio */
.portfolio {
    box-sizing: border-box;
}
.portfolio .portfolio-content {
    position: relative;
    justify-content: center;
    padding-top: 7px;
}
.portfolio .portfolio-content a:hover {
    color: white;
}
.portfolio-content img {
    width: 1050px;
    height: 700px;
    object-fit: cover;
}
.my-slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    left: 183px;
    border-radius: 0 5px 5px 0;
}
.next {
    right: 183px;
    border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.caption {
    bottom: 4px;
    position: absolute;
    margin-right: 183px;
    padding: 30px 50px;
    background-color: rgba(182,95,207,.85);
}
.caption h2 {
    font-size: 30px;
}
.caption p {
    padding-top: 10px;
    font-size: 16px;
}
.slide-indicators {
    width: 100%;
    padding-left: 660px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Services */
.services .services-content {
    flex-direction: column;
    margin-left: 70px;
    margin-bottom: 20px;
}
.services .services-content .card {
    display: flex;
    padding-top: 5px;
}
.services .services-content .card .card-img {
    width: 35%;
}
.services .services-content .card .card-img img {
    width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}
#card-img {
    order: 2;
}
.services .services-content .card .card-content {
    width: 65%;
}
.services .services-content .card .card-content .card-title {
    font-size: 20px;
}
.services .services-content .card .card-content .card-text {
    padding-top: 10px;
}
#card-1 {
    padding-top: 60px;
    padding-right: 70px;
}
#card-2 {
    text-align: right;
    padding-top: 25px;
    padding-right: 65px;
}
#card-3 {
    padding-top: 65px;
    padding-right: 70px;
}